@use '../../../../../style/mixins.scss' as *;

.practice-view {
  height: 100%;
  width: 100%;
  display: grid;
  touch-action: none;
  place-items: center;
  border: 1px solid white;

  .card,
  .vote-overlay {
    grid-area: 1 / 1;
  }

  .vote-overlay {
    border: 1px solid white;
    display: grid;
    place-items: stretch center;

    &.right {
      color: var(--col-success);
    }
    &.wrong {
      color: var(--col-warning);
    }
    app-icon-comp {
      width: 60%;
      aspect-ratio: 1 / 1;
    }
  }
}

app-practice-stats-bar-comp {
  z-index: 13;
}

@include isDesktop() {
  .practice-view {
    .card,
    .vote-overlay,
    app-practice-stats-bar-comp {
      grid-area: 1 /1;
    }

    app-practice-card-comp,
    .vote-overlay {
      width: 700px;
      aspect-ratio: 3 / 2;
    }

    app-practice-stats-bar-comp {
      width: 500px;
      place-self: end center;
    }
  }
}
@include isPhone() {
  .practice-view {
    app-practice-card-comp,
    .vote-overlay {
      place-self: stretch;
    }
    app-practice-stats-bar-comp {
      grid-area: 1 / 1;
    }

    app-practice-stats-bar-comp {
      place-self: end stretch;
    }
  }
}
