.practice-view {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
  place-items: center;
  touch-action: none;

  .card {
    display: grid;
    grid-template-rows: 1fr 1fr;
    place-self: stretch;
    margin-top: var(--distance-4);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-bigger);
    grid-area: 1 / 1;

    .top,
    .bottom {
      padding: var(--distance-4);
    }
    .top {
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-bold);
    }

    .bottom {
      font-style: italic;
      border-top: 1px solid rgb(from var(--col-text) r g b / 0.3);
      .word {
        font-size: var(--font-size-3);
      }
      .notes {
        padding-top: var(--distance-2);
      }
    }
  }
}
