<app-page-wrapper-comp icon="learn">
  <div
    class="practice-view"
    (touchstart)="swipeStart($event)"
    (touchmove)="swipeMove($event)"
    (touchend)="swipeEnd($event)"
  >
    @for (entry of cardViewModel(); track entry.card.id) {
      @let card = entry.card;
      <div class="card" (click)="reveal()" [class]="entry.classes">
        <div class="top">
          {{ card.lexeme }}
        </div>
        <div class="bottom">
          <div class="word">
            {{ card.translation }}
          </div>
          <div class="notes">
            @if (card.notes; as notes) {
              {{ notes }}
            } @else {
              <span class="placeholder"> no notes </span>
            }
          </div>
        </div>
      </div>
    }
    <app-practice-stats-bar-comp
      [(isOpen)]="showStats"
      (quit)="endPracticeEarly()"
    />
  </div>
</app-page-wrapper-comp>
