.card {
  --timing-fun: cubic-bezier(0.322, 0.582, 0.006, 0.987);
  transition-duration: var(--duration-3);
  transition-property: translate, opacity, transform, background-color, color;
  transition-timing-function: var(--timing-fun);
  background-color: var(--col-accent);

  &.is-swiping {
    transition-property: none;
  }

  // last card
  &.index--1 {
    opacity: 0;
    z-index: 8;

    &:not(.is-correct) {
      transform: translate(-100%, 0) rotate(-5deg);
    }

    &.is-correct {
      transform: translate(100%, 0) rotate(5deg);
    }
  }

  //current card
  &.index-0 {
    z-index: 9;

    &:not(.is-revealed, .summary) {
      transform: translate(0, 30%);
    }

    &.is-revealed,
    &.summary {
      transform: translate(0%, 0%);

      &.is-swiping {
        --moveX: calc(var(--swipe-prog) * 1px);
        --rotX: calc(var(--swipe-prog) * 0.03deg);
        transform: translate(var(--moveX), 0%) rotate(var(--rotX));
      }
    }
  }

  //next card
  &.index-1 {
    z-index: 10;
    background-color: var(--col-bg);
    color: var(--col-bg);
  }
  &:not(.is-revealed) {
    transform: translate(0, 70%) rotateZ(-5deg);
  }

  &.is-revealed {
    --moveY: calc(85% - abs(var(--swipe-prog)) * 0.02%);
    transform: translate(0, var(--moveY)) rotateZ(-5deg);
  }

  //card after next
  &.index-2 {
    z-index: 11;
    background-color: var(--col-bg);
    color: var(--col-bg);
    transform: translate(0, 110%) rotateZ(-10deg);
  }

  &.index-0,
  &.index-1 {
    @starting-style {
      transform: translate(0, 100%) rotate(-10deg) !important;
    }
  }
}
