:host {
  display: grid;
  grid-template-rows: 50% auto 1fr;
  background-color: var(--col-accent);
  box-shadow: var(--shadow-bigger);
  border-radius: var(--radius-3);

  .top,
  .bottom {
    line-height: calc(var(--font-size-3) + var(--distance-2));
    padding: var(--distance-5) var(--distance-6);
    font-size: var(--font-size-3);
  }

  .top {
    font-weight: var(--font-weight-bold);
  }

  .bottom {
    font-style: italic;
    padding-bottom: var(--distance-1);

    border-top: 1px solid rgb(from var(--col-text) r g b / 0.3);
  }
  .placeholder {
    opacity: 0.3;
  }
  .notes {
    border-radius: var(--radius-0) var(--radius-0) var(--radius-3)
      var(--radius-3);
    padding: var(--distance-2) var(--distance-6);
    font-style: italic;
    background-color: transparent;
    overflow: auto;
  }
}
