:host {
  position: relative;
  display: block;
  padding-top: calc(var(--font-size-4) - var(--distance-4));

  h2 {
    top: 0;
    left: 0;
    line-height: var(--font-size-4);
    font-size: var(--font-size-4);
    position: absolute;
    opacity: var(--opacity-1);
    z-index: -1;
    width: 100%;
    display: block;
  }

  .stats {
    text-shadow:
      0px -10px 30px var(--col-bg),
      0px -5px 25px var(--col-bg),
      0px -2px 18px var(--col-bg),
      0px -1px 8px var(--col-bg);

    span:not(:last-of-type):after {
      content: '•';
    }
  }
}
