:host {
  display: grid;
  position: relative;
}
h2 {
  top: 0;
  font-size: var(--font-size-4);
  position: absolute;
  opacity: var(--opacity-0);
  z-index: -1;
  width: 100%;
  display: block;
}
.info {
  box-sizing: border-box;
  padding-top: calc(var(--font-size-4) - var(--distance-3));
}
.interact {
  margin: 0 calc(var(--distance-4) * -1);
  display: flex;
  gap: var(--distance-3);
  scrollbar-width: none;
  overflow-x: auto;
  padding: var(--distance-2) var(--distance-4);

  button,
  select {
    color: var(--col-bg);
    border-radius: var(--radius-2);
  }

  button {
    padding: var(--distance-1) var(--distance-5);
    background-color: var(--col-accent);
    color: var(--col-text);
  }

  select {
    background-color: var(--col-primary);
    min-width: 50%;

    text-align: center;
    padding: var(--distance-1) 0 var(--distance-1) var(--distance-4);
  }
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
}
