<app-page-wrapper-comp title="Settings" [shrinkOnDesktop]="true">
  <div class="wrapper">
    <div class="stats">
      <app-counter-comp label="learnables added" size="l">
        {{ learnables().length }}
      </app-counter-comp>
      <app-counter-comp label="tokens used" size="l">
        {{ tokensUsed() }}
      </app-counter-comp>
    </div>

    <form [formGroup]="form">
      <label>
        <span> OpenAI API-key </span>
        <input type="password" formControlName="apiKey" />
      </label>
      <label>
        <span> I am speaking </span>
        <input type="text" formControlName="speakingLang" />
      </label>
      <label>
        <span> I am learning </span>
        <input type="text" formControlName="learningLang" />
      </label>
    </form>
    <div class="data-interact">
      <button class="delete" (click)="reset()">
        @if (deletePressedCounter() === 0) {
          <span> delete everything </span>
        } @else if (deletePressedCounter() != necessaryDeletePresses) {
          <span> {{ necessaryDeletePresses - deletePressedCounter() }} </span>
        } @else {
          <span> delete success </span>
        }
      </button>
      <a
        class="big"
        [download]="learnablesDownload().fileName"
        [attr.href]="learnablesDownload().blobUrl"
        >export all cards</a
      >
    </div>
  </div>
</app-page-wrapper-comp>
