:host {
  display: grid;
  grid-template-rows: 1fr;
  position: relative;
}

app-icon-comp {
  position: absolute;
  opacity: var(--opacity-0);
  width: 150%;
  justify-self: end;
  z-index: -1;
}

.content {
  align-self: end;
  display: flex;
  gap: var(--distance-3);

  flex-direction: column;
}
