:host {
  height: 100%;
}
form {
  height: 100%;
  min-height: 300px;
  min-width: 300px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto 1fr auto;

  gap: var(--distance-4);

  label,
  .collections {
    grid-column: span 2;
  }

  button {
    margin-top: var(--distance-4);

    &.confirm {
      background-color: var(--col-primary);
      color: var(--col-bg);
    }
  }
}
