@use '../../../../../style/mixins.scss' as *;

.break-flex {
  flex-basis: 100%;
  height: var(--distance-2);
}
form {
  margin: var(--distance-4) 0;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: var(--opacity-1);
  margin-left: auto;

  span {
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-bold);
  }
  &:not(.expanded) {
    .icon {
      rotate: 180deg;
    }
  }
  &.expanded {
    .icon {
      rotate: 0deg;
    }
  }
}

@include isPhone() {
  form {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--distance-2);
  }
  .toggle {
    padding: var(--distance-2);
  }
}

@include isDesktop {
  form {
    display: flex;
    flex-wrap: wrap;
    gap: var(--distance-2) var(--distance-4);
    align-items: end;

    label {
      width: 400px;
    }
  }
  .toggle {
    margin-left: auto;
  }
}
