form {
  grid-template-rows: 1fr auto;
  gap: var(--distance-7) var(--distance-4);

  .preview {
    position: relative;
    max-width: 500px;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    span {
      border-radius: var(--radius-0);
      padding: var(--distance-1) var(--distance-3);
    }

    .cutoff-count {
      opacity: var(--opacity-1);
    }

    app-icon-comp {
      position: absolute;
      z-index: -1;
      height: 120px;
      width: 120px;
      opacity: var(--opacity-1);
      color: var(--col-accent);
    }

    &.collections {
      gap: var(--distance-3);

      font-weight: var(--font-weight-bold);
      span {
        background-color: rgb(from var(--col-primary) r g b / var(--opacity-0));
        // font-size: var(--font-size-2);
      }
    }

    &.words {
      gap: var(--distance-2);
      span {
        background-color: rgb(from var(--col-accent) r g b / var(--opacity-0));
        padding: var(--distance-1) var(--distance-3);
      }
    }
  }
}
