form {
  grid-template-rows: 1fr auto;

  .preview-wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--distance-4);
    justify-content: center;
  }

  .preview {
    position: relative;
    max-width: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--distance-1);

    .name {
      border-radius: var(--radius-1) var(--radius-1) var(--radius-0)
        var(--radius-0);
      padding: var(--distance-1) var(--distance-2);
    }

    .lexemes {
      width: 100%;
      border-radius: var(--radius-0) var(--radius-0) var(--radius-1)
        var(--radius-1);
      padding: var(--distance-3) var(--distance-2);
    }

    .name,
    .lexemes {
      box-sizing: border-box;
      background-color: var(--col-bg);
      border: 1px solid rgb(from var(--col-primary) r g b / var(--opacity-0));
    }
  }
}
