<app-page-wrapper-comp title="Collections" [shrinkOnDesktop]="false">
  <div class="edit-bubbles">
    <button class="import">
      <app-icon-comp type="import" />
    </button>
    @if (selectedCollectionId()) {
      <button class="export">
        <app-icon-comp type="share" />
      </button>
      <button class="edit">
        <app-icon-comp type="edit" />
      </button>
      <button (click)="deleteCollectionModal.open()">
        <app-icon-comp type="trash" />
      </button>
    }
  </div>

  <div class="collections">
    @for (collection of collections(); track collection.id) {
      <button
        class="collection"
        (click)="select(collection.id)"
        [class.selected]="selectedCollectionId() === collection.id"
      >
        <div class="name">
          {{ collection.name }}
        </div>
        <div class="card-count">{{ collection.learnables.length }}</div>
        <div class="score">
          <div>00000</div>
          <div>00100</div>
        </div>
      </button>
    }
  </div>
</app-page-wrapper-comp>
<app-modal-wrapper-comp #renameCollectionModal> </app-modal-wrapper-comp>
<app-modal-wrapper-comp #deleteCollectionModal>
  <app-confirm-form-comp
    label="delete"
    (cancel)="deleteCollectionModal.close()"
    (confirm)="deleteCollection()"
  >
    Dissolve {{ selectedCollection()?.name }}?
  </app-confirm-form-comp>
</app-modal-wrapper-comp>
