<app-page-wrapper-comp title="Collections" [shrinkOnDesktop]="false">
  <div class="edit-bubbles">
    <button class="import">
      <app-icon-comp type="import" />
    </button>
    @if (selectedCollectionId()) {
      <button class="export">
        <app-icon-comp type="share" />
      </button>
      <button class="edit">
        <app-icon-comp type="edit" />
      </button>
      <button>
        <app-icon-comp type="trash" />
      </button>
    }
  </div>

  <div class="collections">
    @for (collection of collections(); track collection.id) {
      <button
        class="collection"
        (click)="select(collection.id)"
        [class.selected]="selectedCollectionId() === collection.id"
      >
        <div class="name">
          {{ collection.name }}
        </div>

        <div class="card-count">50</div>
      </button>
    }
  </div>
</app-page-wrapper-comp>
