@use '../../../../style/mixins.scss' as *;

.collections {
  display: grid;
  gap: var(--distance-4);
}

.collection {
  transition:
    border var(--duration-0),
    outline var(--duration-0);
  border-radius: var(--radius-2);
  border: 2px solid var(--col-accent);
  background-color: var(--col-accent);

  &.selected {
    border: 2px solid var(--col-primary);
  }
}

input[type='file'] {
  display: none;
}

.import {
  padding: var(--distance-4);
}
.edit-bubbles .export {
  padding: var(--distance-3);
}

@include isDesktop() {
  .collections {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

@include isPhone() {
  .collections {
    grid-template-columns: 1fr;
  }
}
