<div class="wrapper">
  @switch (activeIndex()) {
    @case (0) {
      <app-onboarding-section-comp icon="learn">
        <div class="header">
          <p>Welcome to</p>
          <h1>learn with me</h1>
        </div>
        <p>Create, practice and share learning cards and collections.</p>
        <p>
          Prepare for conversations in other languages, slang, dialects or
          situations. Your imagination is the limit!
        </p>
      </app-onboarding-section-comp>
    }
    @case (1) {
      <app-onboarding-section-comp icon="heart">
        <h2>Ease and Community first</h2>
        <p>No login required!</p>
        <p>- Jump directly into learning by using community collections.</p>
        <p>
          - Share your own collections with the whole community or only with
          selected people
        </p>
      </app-onboarding-section-comp>
    }
    @case (2) {
      <app-onboarding-section-comp icon="magic">
        <h2>AI?</h2>
        <p>
          Of course there is AI! But you don't have to use it. You could use it
          to convert your notes into word and phrase cards almost instantly
          though.
        </p>
        <p>Got a key? Add it here:</p>

        <label>
          <span>OpenAI API key</span>
          <input type="text" />
        </label>
      </app-onboarding-section-comp>
    }

    @case (3) {
      <app-onboarding-section-comp icon="info">
        <h2>Ready to start?</h2>
        <p>
          It's nice that you are, but we need to know what you want to learn
          before the fun can begin.
        </p>

        <label>
          <span>I speak: Language / Dialect / Slang</span>
          <input type="text" />
        </label>

        <label>
          <span>I want to master: Language / Dialect / Slang</span>
          <input type="text" />
        </label>
      </app-onboarding-section-comp>
    }
  }
  <div class="buttons">
    <button class="silent back" (click)="back()">
      <app-icon-comp type="chevron" />
    </button>
    <button class="big" (click)="next()">Next</button>
  </div>
</div>
