<button (click)="toggleLinks()" class="toggle">
  <app-icon-comp type="menu" />
</button>
<a
  routerLink="/"
  class="link practice"
  routerLinkActive="active"
  [class.practicing]="hasCurrentPractice()"
>
  <app-icon-comp type="learn" />
</a>
<a routerLink="cards" class="link" routerLinkActive="active">
  <app-icon-comp type="list" />
</a>
<a routerLink="collections" class="link" routerLinkActive="active">
  <app-icon-comp type="collection" />
</a>
<a routerLink="settings" class="link" routerLinkActive="active">
  <app-icon-comp type="settings" />
</a>
