:host {
  position: absolute;
  top: 0;
  left: 0;

  rotate: -10deg;
  transform-origin: top left;
  margin: var(--distance-7) var(--distance-5);

  display: grid;
  width: min-content;
  white-space: nowrap;
}
