@use './../../../../style/mixins.scss' as *;

:host {
  display: grid;
  width: min-content;
  box-sizing: border-box;

  transform-origin: top left;

  h1 {
    font-weight: var(--font-weight-bold);
  }

  @include isPhone() {
    width: 100%;
    place-items: center;
    text-align: center;
    margin: var(--distance-7) 0;
    font-size: var(--font-size-3);
  }
  @include isDesktop() {
    h1 {
      font-size: var(--font-size-4);
    }

    position: absolute;
    top: 0;
    left: 0;
    margin: var(--distance-8) var(--distance-6);
    white-space: nowrap;
    rotate: -10deg;
  }
}
