<button
  class="silent toggle"
  [class.open]="isOpen()"
  (click)="toggle()"
  [disabled]="isFinished() || cardState() === 'editing'"
>
  <app-icon-comp type="chevron" [size]="50" class="icon" />
</button>

@if (!isFinished() && isOpen()) {
  <div class="stats" animate.enter="enter" animate.leave="leave">
    <div class="wrapper">
      <button class="big quit" (click)="quit.emit()">quit</button>
      <button class="big edit" (click)="edit.emit()">
        @if (cardState() !== 'editing') {
          edit notes
        } @else {
          save notes
        }
      </button>
    </div>
  </div>
}

@if (isFinished()) {
  <div class="stats" animate.enter="enter" animate.leave="leave">
    <div class="wrapper">
      <button class="big finalize wide" (click)="quit.emit()">
        finalize practice
      </button>
    </div>
  </div>
}
