.collections {
  display: flex;
  gap: var(--distance-3);
  overflow-x: scroll;
  scrollbar-width: none;
  margin-bottom: var(--distance-6);

  .collection {
    text-wrap: nowrap;
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    margin: var(--distance-1);
    padding: var(--distance-0) var(--distance-2);

    &.selected {
      color: var(--col-bg);
      background-color: var(--col-text);
    }
  }
}

.learnables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: var(--distance-4);

  .learnable {
    border: 2px solid var(--col-accent);
    border-radius: var(--radius-1);
    background-color: var(--col-accent);

    transition:
      border var(--duration-0),
      outline var(--duration-0);

    &.selected {
      border: 2px solid var(--col-primary);
    }
  }
}

.edit-bubbles {
  .ai {
    padding: var(--distance-4);
  }
  .manual {
    padding: var(--distance-3);
  }

  .edit {
    display: grid;

    place-items: center;
    span {
      font-size: 8px;
    }

    span,
    app-icon-comp {
      grid-area: 1 /1;
    }
  }
}
