@use '../../../../style/mixins.scss' as *;

.toggle {
  margin: var(--distance-4);
  padding: var(--distance-4);
  background-color: var(--col-accent);
  padding: var(--distance-3);
  border-radius: 100%;
  box-shadow: var(--shadow-big);

  transition:
    outline var(--duration-0),
    background-color var(--duration-0),
    box-shdow var(--duration-1),
    opacity var(--duration-1);

  app-icon-comp {
    transition: rotate var(--duration-1) var(--overshot);
  }

  &.subdue {
    box-shadow: none;
    background-color: transparent;
  }

  &.open {
    background-color: var(--col-bg);
    app-icon-comp {
      rotate: -20deg;
    }
  }

  &.subdue {
    box-shadow: none;
    opacity: var(--opacity-0);
  }
}

:host {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--distance-4);
  z-index: 15;
  transition: background-color var(--duration-0);

  .link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: var(--distance-4);
    rotate: 10deg;
    box-sizing: border-box;
    box-shadow: var(--shadow-big);

    &.big {
      color: var(--col-bg);
      background-color: var(--col-primary);
    }
    &.small {
      color: var(--col-text);
      background-color: var(--col-accent);
      app-icon-comp {
        width: 40px;
        height: 40px;
      }
    }
  }
}

@include isDesktop() {
  .toggle {
    align-self: end;
  }
  .link {
    font-size: var(--font-size-2);

    place-self: end;
    padding: var(--distance-1) var(--distance-5) var(--distance-1)
      var(--distance-2);
    transform-origin: bottom right;
    width: 100%;
    border-radius: var(--radius-2) 0 0 var(--radius-2);

    &.big {
      font-size: var(--font-size-3);
      app-icon-comp {
        width: 50px;
        height: 50px;
      }
    }

    &.small {
      width: 80%;
    }
  }
}

@include isPhone() {
  :host {
    width: 100vw;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    &.open {
      height: 100dvh;
      background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
    }

    .link {
      font-size: var(--font-size-3);
      width: 110vw;
      padding: var(--distance-2) 0 var(--distance-2) 20vw;

      &.big app-icon-comp {
        width: 50px;
        height: 50px;
      }
    }
  }
  .toggle {
    position: fixed;
    top: 0;
    right: 0;
  }
}

.pulse {
  span,
  app-icon-comp {
    animation: pulse 4s infinite;
  }
}

@keyframes pulse {
  20%,
  40%,
  60% {
    opacity: 1;
  }
  30%,
  50% {
    opacity: var(--opacity-0);
  }
}
