@use '../../../../style/mixins.scss' as *;

:host {
  position: fixed;
  top: 0;
  right: 0;
  display: grid;
  padding: var(--distance-4);
  z-index: 3;
  gap: var(--distance-2);
  flex-flow: row-reverse;
  align-items: center;
  place-items: center;

  .toggle {
    transition:
      outline var(--duration-0),
      background-color var(--duration-0),
      box-shdow var(--duration-1),
      opacity var(--duration-1);

    app-icon-comp {
      transition: transform var(--duration-1);
    }

    &.open,
    &.subdue {
      background-color: var(--col-bg);
    }

    &.open app-icon-comp {
      transform: rotateY(180deg);
    }

    &.subdue {
      opacity: var(--opacity-0);
      box-shadow: none;
    }
  }
}
.link,
.toggle {
  grid-area: 1 / 1;
}
.link {
  &:nth-of-type(1) {
    translate: -70px 0px;
  }
  &:nth-of-type(2) {
    translate: -50px 50px;
  }
  &:nth-of-type(3) {
    translate: 00px 70px;
  }
  &:nth-of-type(4) {
    translate: -120px 0px;
  }
  &:nth-of-type(5) {
    translate: 0px 120px;
  }
}

.link,
.toggle {
  background-color: var(--col-accent);
  padding: var(--distance-3);
  border-radius: 100%;
  box-shadow: var(--shadow-big);

  &.small {
    padding: var(--distance-2);
  }
}

.pulse app-icon-comp {
  animation: pulse 4s infinite;
}

@keyframes pulse {
  20%,
  40%,
  60% {
    opacity: 1;
  }
  30%,
  50% {
    opacity: var(--opacity-0);
  }
}
