<button
  class="toggle"
  (click)="toggleLinks()"
  [class]="{
    pulse: pulseToggle(),
    open: linksAreOpen(),
    subdue: subdueToggle()
  }"
>
  <app-icon-comp type="menu" />
</button>

@if (linksAreOpen()) {
  <div class="links-wrapper" animate.leave="fly-out-xy">
    <h2 animate.enter="fly-in-xy-0">learn with me</h2>
    <a
      class="link big practice"
      routerLink="practice"
      [class.pulse]="pulsePractice()"
      animate.enter="fly-in-xy-1"
    >
      <app-icon-comp type="learn" />
      <span>practice</span>
    </a>
    <a routerLink="cards" class="link big" animate.enter="fly-in-xy-2">
      <app-icon-comp type="card" />
      <span>cards</span>
    </a>
    <a routerLink="share" class="link big" animate.enter="fly-in-xy-3">
      <app-icon-comp type="share-network-fill" />
      <span>share</span>
    </a>
    <a routerLink="about" class="link small about" animate.enter="fly-in-xy-4">
      <app-icon-comp type="info" />
      <span>about</span>
    </a>
    <a routerLink="settings" class="link small" animate.enter="fly-in-xy-5">
      <app-icon-comp type="settings" />
      <span>settings</span>
    </a>
  </div>
  <div class="fake-shadow" animate.enter="enter" animate.leave="leave"></div>
}
