@use '../../../../style/mixins.scss' as *;

.toggle {
  padding: var(--distance-3);
  background-color: var(--col-accent);
  border-radius: 100%;
  box-shadow: var(--shadow-big);
  transition:
    outline var(--duration-0),
    background-color var(--duration-0),
    box-shadow var(--duration-1),
    opacity var(--duration-1);

  app-icon-comp {
    transition: rotate var(--duration-1) var(--overshot);
  }

  &.open {
    background-color: var(--col-bg);
    app-icon-comp {
      rotate: -20deg;
    }
  }

  &.subdue {
    box-shadow: none;
    background-color: transparent;
    opacity: var(--opacity-1);
  }
}

:host {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: var(--distance-4);
  z-index: 15;
  transition: background-color var(--duration-0);

  p,
  h2 {
    margin: 0;
  }

  .entry {
    rotate: 10deg;
    box-sizing: border-box;

    &.big,
    &.small {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: var(--distance-4);
      box-shadow: var(--shadow-big);
    }

    &.big {
      color: var(--col-bg);
      background-color: var(--col-primary);
    }

    &.small {
      color: var(--col-text);
      background-color: var(--col-accent);
    }

    &.text {
      text-shadow: 0 5px 13px var(--col-bg);
      white-space: nowrap;

      &.langs {
        display: inline-flex;
        justify-content: end;
        align-items: center;
        gap: var(--distance-2);
      }
    }

    &.about {
      margin-top: var(--distance-5);
    }
  }
}

@include isDesktop() {
  :host {
    box-sizing: border-box;
    margin: var(--distance-4) 0 var(--distance-4) var(--distance-4);
    align-items: stretch;

    .fake-shadow {
      display: block;
      top: var(--distance-6);
      right: 0;
      filter: blur(50px);
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--col-bg);
      opacity: var(--opacity-0);

      &.enter {
        animation: bd-appear-desktop var(--duration-3) ease;
      }

      &.leave {
        animation: bd-appear-desktop var(--duration-0) reverse ease;
      }
    }
  }

  .toggle {
    align-self: flex-end;
    margin-right: var(--distance-4);
  }

  .links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: var(--distance-6);
    min-width: 250px;

    .entry {
      --stretch-overflow: 20%;
      transform-origin: bottom right;
      border-radius: var(--radius-3);
      width: calc(100% + var(--stretch-overflow));
      transition:
        scale var(--duration-1) var(--overshot),
        outline var(--duration-0);

      &.big,
      &.small {
        font-size: var(--font-size-2);
        margin-bottom: var(--distance-3);

        app-icon-comp {
          width: 40px;
          height: 40px;
        }

        &:hover {
          scale: 1.05;
        }
      }

      &.big {
        padding: var(--distance-2) var(--distance-6);
      }

      &.small,
      &.text {
        padding: 0 calc(var(--distance-5) + var(--stretch-overflow)) 0
          var(--distance-6);
      }

      &.text.header {
        padding-bottom: var(--distance-3);
      }

      &.about {
        margin-top: var(--distance-4);
      }
    }
  }
}

@include isPhone() {
  :host {
    align-items: center;
    justify-content: center;

    .fake-shadow {
      position: fixed;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100vw;
      height: 100dvh;
      background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
      backdrop-filter: blur(30px);

      &.enter {
        animation: bd-appear var(--duration-1) ease;
      }

      &.leave {
        animation: bd-appear var(--duration-1) reverse;
      }
    }

    .toggle {
      position: fixed;
      margin: var(--distance-4);
      top: 0;
      right: 0;
      place-self: end;

      &.open {
        background-color: transparent;
        box-shadow: none;
      }
    }

    .links-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--distance-4);
      width: 100vw;
      height: 100dvh;

      .entry {
        width: 170vw;

        &.big,
        &.small {
          font-size: var(--font-size-3);

          app-icon-comp {
            width: 50px;
            height: 50px;
          }
        }

        &.big {
          padding: var(--distance-2) 50vw;
        }

        &.small,
        &.text {
          padding: var(--distance-0) 50vw;
        }

        &.text {
          padding-left: 45vw;
        }
      }
    }
  }
}

.pulse {
  span,
  app-icon-comp {
    animation: pulse 4s infinite;
  }
}

@keyframes pulse {
  20%,
  40%,
  60% {
    opacity: 1;
  }
  30%,
  50% {
    opacity: var(--opacity-0);
  }
}

@keyframes bd-appear-desktop {
  from {
    opacity: 0;
    height: 0%;
  }
}
