:root {
  --overshot: cubic-bezier(0.399, 1.747, 0.471, 0.987);
}

@for $i from 0 through 12 {
  .fly-in-y-#{$i} {
    animation: fly-in-y var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(0.1s * #{$i});
  }

  .fly-in-x-#{$i} {
    animation: fly-in-x var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(0.05s * #{$i});
  }

  .fly-in-x-rev-#{$i} {
    animation: fly-in-x-rev var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(0.05s * #{$i});
  }

  .fly-in-xy-#{$i} {
    animation: fly-in-xy var(--duration-3) var(--overshot) backwards;
    animation-delay: calc(0.07s * #{$i});
  }
}

@keyframes fly-in-y {
  from {
    opacity: 0;
    translate: 5px 30px;
  }
}

@keyframes fly-out-y {
  to {
    opacity: 0;
    translate: 0px 20px;
  }
}

.fly-out-y {
  animation: fly-out-y var(--duration-1) ease-out;
}

@keyframes fly-in-x {
  from {
    opacity: 0;
    translate: 20px 0px;
  }
}

@keyframes fly-in-x-rev {
  from {
    opacity: 0;
    translate: -20px 0px;
  }
}

@keyframes fly-in-xy {
  from {
    opacity: 0;
    translate: 60px 10px;
  }
}

.fly-out-xy {
  animation: fly-out-xy var(--duration-0) ease-out;
}

@keyframes fly-out-xy {
  to {
    opacity: 0;
    translate: 30px 5px;
  }
}

@keyframes fly-out-x {
  to {
    opacity: 0;
    translate: 10px 0px;
  }
}

.fly-out-x {
  animation: fly-out-x var(--duration-1) ease-out;
}

@keyframes bd-appear {
  from {
    opacity: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
}

// Enter/leave animations
.enter,
.leave {
  display: grid;
  align-self: flex-end;
  animation: enter var(--duration-1) ease-in-out;

  .wrapper {
    overflow: hidden;
  }
}

.leave {
  animation-direction: reverse;
}

@keyframes enter {
  from {
    grid-template-rows: 0fr;
    opacity: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  to {
    opacity: 1;
    grid-template-rows: 1fr;
  }
}
