:root {
  --overshot: cubic-bezier(0.399, 1.747, 0.471, 0.987);
}

@for $i from 0 through 8 {
  .fly-in-y-#{$i} {
    animation: fly-in-y var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(0.1s * #{$i});
  }

  .fly-in-x-#{$i} {
    animation: fly-in-x var(--duration-2) var(--overshot) backwards;
    animation-delay: calc(0.05s * #{$i});
  }

  .fly-in-xy-#{$i} {
    animation: fly-in-xy var(--duration-3) var(--overshot) backwards;
    animation-delay: calc(0.07s * #{$i});
  }
}

@keyframes fly-in-y {
  from {
    opacity: 0;
    translate: 5px 30px;
  }
}

@keyframes fly-in-x {
  from {
    opacity: 0;
    translate: 20px 0px;
  }
}

@keyframes fly-in-xy {
  from {
    opacity: 0;
    translate: 100px 20px;
  }
}

.fly-out-xy {
  animation: fly-out-xy var(--duration-1) ease-out;
}

@keyframes fly-out-xy {
  to {
    opacity: 0;
    translate: 10px 20px;
  }
}

@keyframes bd-appear {
  from {
    opacity: 0;
    background-color: transparent;
    backdrop-filter: blur(0px);
  }
}
