:root {
  --col-base-0: #191a1cff;
  --col-base-1: #5348b0ff;
  --col-base-2: #dd93e5ff;
  --col-base-3: #e8cfecff;
  --col-base-4: #b34e69ff; // warn

  --col-text: var(--col-base-0);
  --col-primary: var(--col-base-1);
  --col-accent: var(--col-base-2);
  --col-bg: var(--col-base-3);
  --col-warning: var(--col-base-4);

  --shadow-big: 0px 10px 20px -7px var(--col-primary);
  --shadow-small: 0px 5px 10px -7px var(--col-primary);

  --font-weight-normal: 500;
  --font-weight-bold: 600;

  --font-size-0: 14px;
  --font-size-1: 16px;
  --font-size-2: 20px;
  --font-size-3: 32px;
  --font-size-4: 64px;

  --distance-0: 2px;
  --distance-1: 4px;
  --distance-2: 8px;
  --distance-3: 12px;
  --distance-4: 16px;
  --distance-5: 24px;
  --distance-6: 32px;
  --distance-7: 64px;

  --radius-0: 7px;
  --radius-1: 10px;
  --radius-2: 14px;
  --radius-3: 32px;

  --opacity-0: 0.2;
  --opacity-1: 0.6;

  --duration-0: 0.2s;
  --duration-1: 0.3s;
  --duration-2: 0.6s;

  --max-width: 768px;
}
