:host {
  position: fixed;
  pointer-events: visible;
  display: grid;
  place-items: center;
  gap: var(--distance-2);
  z-index: 20;
  width: 100vw;
  left: 0;
  bottom: 150px;
  box-sizing: border-box;
  padding: var(--distance-4);
}

.toast {
  max-width: 100%;
  word-break: break-all;
  overflow: hidden;
  &.guess {
    text-align: center;
    grid-area: 1/1;
    animation: guess 1000ms ease-out both;
  }

  &.error,
  &.info {
    box-shadow: var(--shadow-small);
    padding: var(--distance-3) var(--distance-4);
    border-radius: var(--radius-2);
    animation: toast 4000ms ease-in-out both;
  }

  &.error {
    background-color: var(--col-warning);
    color: var(--col-bg);
  }

  &.info {
    background-color: var(--col-accent);
  }
}

@keyframes toast {
  from {
    translate: 0 10px;
  }

  from,
  to {
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }
}

@keyframes guess {
  0% {
    opacity: 0;
    translate: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    translate: 0 -40px;
    scale: 1.3;
    opacity: 0;
  }
}
