<app-page-wrapper-comp title="Cards" [shrinkOnDesktop]="false">
  <div class="collections">
    <button
      class="silent collection"
      (click)="selectCollection(null)"
      [class.selected]="!selectedCollectionId()"
    >
      All
    </button>
    @for (collection of collections(); track collection.id) {
      <button
        class="silent collection"
        [class.selected]="selectedCollectionId() === collection.id"
        (click)="selectCollection(collection.id)"
      >
        {{ collection.name }}
      </button>
    }
  </div>
  <app-filter-form-comp (filter)="updateFilter($event)" />
  <div class="edit-bubbles">
    <button (click)="addModal.open()" class="create ai">
      <app-icon-comp type="magic" />
    </button>
    <button (click)="bulkEditModal.open()" class="create manual">
      <app-icon-comp type="pen" />
    </button>
    @if (hasSelected()) {
      @if (!selectedCollectionId()) {
        <button (click)="collectionAddModal.open()" class="edit">
          <app-icon-comp type="collection-add" />
        </button>
      } @else {
        <button (click)="removeSelectionFromCollection()" class="edit">
          <app-icon-comp type="collection-remove" />
        </button>
      }
      <button (click)="deleteModal.open()" class="edit">
        <app-icon-comp type="trash" />
      </button>
      <button (click)="resetLearnableSelection()" class="edit">
        <span>
          {{ selectedLearnables().length }}
        </span>
        <app-icon-comp type="reset" />
      </button>
    }
  </div>

  <div class="learnables">
    @for (learnable of filteredLearnables(); track learnable.id) {
      <button
        class="l"
        (click)="toggleLearnableSelection(learnable.id)"
        [class.selected]="isSelected(learnable.id)"
      >
        <app-learnable-comp [learnable]="learnable" />
      </button>
    }
  </div>
</app-page-wrapper-comp>
<app-modal-wrapper-comp #addModal>
  <app-magic-add-comp
    (cancel)="addModal.close()"
    (confirm)="confirmAdd($event)"
    [excludedWords]="learnableLexemes()"
  />
</app-modal-wrapper-comp>
<app-modal-wrapper-comp #bulkEditModal>
  <app-bulk-edit-comp
    [preset]="selectedLearnables()"
    (cancel)="bulkEditModal.close()"
    (confirm)="confirmEdit($event)"
  />
</app-modal-wrapper-comp>
<app-modal-wrapper-comp #deleteModal>
  <app-confirm-form-comp
    (cancel)="deleteModal.close()"
    (confirm)="confirmDelete()"
    label="delete cards"
  >
    <app-counter-comp label="cards selected" size="l">
      {{ selectedLearnables().length }}
    </app-counter-comp>
  </app-confirm-form-comp>
</app-modal-wrapper-comp>
<app-modal-wrapper-comp #collectionAddModal>
  <app-collection-add-comp
    [collections]="collections()"
    (cancel)="collectionAddModal.close()"
    (confirm)="confirmCollectionAdd($event)"
  />
</app-modal-wrapper-comp>
