app-filter-form-comp {
  margin-bottom: var(--distance-4);
}

.collections {
  display: flex;
  gap: var(--distance-2);

  .collection {
    text-wrap: nowrap;
    margin-bottom: var(--distance-5);
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-bold);
    &:not(.selected) {
      opacity: var(--opacity-1);
    }
    &.selected {
      opacity: 1;
    }
  }
}

.learnables {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: var(--distance-4);

  button {
    text-align: inherit;
    font-size: inherit;
    border: 2px solid rgb(from var(--col-accent) r g b / var(--opacity-1));
    border-radius: var(--radius-1);
    padding: 0;
    transition: border var(--duration-0);

    &.selected {
      border: 2px solid rgb(from var(--col-primary) r g b / var(--opacity-1));
    }
  }
}

.edit-bubbles {
  button {
    &.ai {
      padding: var(--distance-4);
    }
    &.manual {
      padding: var(--distance-3);
    }
    &.edit {
      display: grid;

      place-items: center;
      span {
        font-size: 8px;
      }

      span,
      app-icon-comp {
        grid-area: 1 /1;
      }
    }
  }
}
