:host {
  display: grid;
  grid-template: auto auto auto / 1fr 1fr 1fr;
  padding: var(--distance-3);
  gap: var(--distance-2);
}

.name {
  grid-column: span 2;
  font-size: var(--font-size-2);
  font-weight: var(--font-weight-bold);
}

.counts,
.details,
.created {
  grid-column: span 3;
  font-size: var(--font-size-0);
  opacity: var(--opacity-1);
}

.details {
  display: flex;
  align-items: center;
  gap: var(--distance-1);
}
.counts {
  span:not(:last-of-type):after {
    content: '•';
  }
}

.delete,
.download,
.edit {
  padding: var(--distance-1) 0;
}

.share {
  justify-self: end;
  opacity: var(--opacity-1);
}

.download,
.edit {
  background-color: rgb(from var(--col-text) r g b / var(--opacity-0));
}

.delete {
  background-color: rgb(from var(--col-warning) r g b / var(--opacity-1));
}

.activate {
  grid-column: span 3;
}

button.activate {
  &.active {
    background-color: rgb(from var(--col-text) r g b / var(--opacity-1));
    color: var(--col-bg);
  }
  &:not(.active) {
    background-color: rgb(from var(--col-text) r g b / var(--opacity-0));
  }
}
