@let la = learnable();

@if (newerThanOneDay()) {
  <app-icon-comp type="new" [size]="60" />
}
<div class="lexeme">
  {{ la.lexeme }}
</div>
<div class="translation">
  {{ la.translation }}
</div>
<div class="notes">
  {{ la.notes }}
</div>
<div class="date">
  {{ la.created | date: 'MMMM d, y' }}
</div>
<div class="type">
  {{ la.type }}
</div>
<div class="last-guesses">
  @for (guess of learnable().lastGuesses; track $index) {
    @if (guess) {
      <div class="right"></div>
    } @else {
      <div class="wrong"></div>
    }
  }
</div>
