:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgb(from var(--col-accent) r g b / var(--opacity-1));
  border-radius: var(--radius-0);
  padding: var(--distance-2) var(--distance-3);
  gap: var(--distance-1) 0;

  .lexeme {
    font-weight: var(--font-weight-bold);
  }
  .translation {
    justify-self: end;
  }
  .type {
    grid-column: span 2;
    place-self: start;
    opacity: var(--opacity-1);
  }
  .date {
    font-size: var(--font-size-0);
    opacity: var(--opacity-0);
  }
  .last-guesses {
    display: flex;
    gap: var(--distance-0);
    place-self: end;

    .right,
    .wrong {
      flex-direction: row;
      width: 10px;
      height: 10px;
      border-radius: 100%;
      border: 1px solid var(--col-primary);
    }

    .right {
      background-color: var(--col-primary);
    }
  }
}
