@use '../../../../../style/mixins.scss' as *;

form {
  grid-template-rows: 1fr auto;

  .content {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: var(--distance-4);
    grid-column: span 2;
  }

  textarea {
    padding: var(--distance-4);
    resize: none;
  }

  button {
    display: inline-flex;
    gap: var(--distance-2);
    justify-content: center;
    align-items: center;

    &.submit {
      color: var(--col-bg);
      background-color: var(--col-primary);
    }
  }
}

@include isDesktop() {
  form {
    height: 600px;
  }
}

@include isPhone() {
  form {
    height: 100%;
  }
}
