<app-page-wrapper-comp
  title="Settings"
  [desktopMode]="'shrink'"
  icon="settings"
>
  <div class="wrapper">
    <div class="stats">
      <app-counter-comp label="banks" size="l">
        {{ stats().banksCount }}
      </app-counter-comp>
      <app-counter-comp label="learnables" size="l">
        {{ stats().learnablesCount }}
      </app-counter-comp>
      <app-counter-comp label="collections" size="l">
        {{ stats().collectionsCount }}
      </app-counter-comp>
      <app-counter-comp label="tokens used" class="tokens">
        {{ tokensUsed() }}
      </app-counter-comp>
    </div>

    <form [formGroup]="form">
      <label>
        <span> OpenAI API-key </span>
        <input type="password" formControlName="apiKey" />
      </label>
    </form>
    <div class="data-interact">
      <button class="primary big full" (click)="createNewBank()">
        create new bank
      </button>
      <a
        class="big export"
        [download]="learnablesDownload().fileName"
        [attr.href]="learnablesDownload().blobUrl"
        >export bank
      </a>
      <button class="primary big delete" (click)="reset()">
        delete everything
      </button>
    </div>
  </div>
</app-page-wrapper-comp>
