<app-page-wrapper-comp
  title="Settings"
  [desktopMode]="'shrink'"
  icon="settings"
>
  <div class="wrapper">
    <div class="stats">
      <app-counter-comp label="learnables" size="l">
        {{ learnables().length }}
      </app-counter-comp>
      <app-counter-comp label="collections" size="l">
        {{ collections().length }}
      </app-counter-comp>
      <app-counter-comp label="tokens used" class="tokens">
        {{ tokensUsed() }}
      </app-counter-comp>
    </div>

    <form [formGroup]="form">
      <label>
        <span> OpenAI API-key </span>
        <input type="password" formControlName="apiKey" />
      </label>
      <label>
        <span> I am learning </span>
        <input type="text" formControlName="learningLang" />
      </label>
      <label>
        <span> I am speaking </span>
        <input type="text" formControlName="speakingLang" />
      </label>
    </form>
    <div class="data-interact">
      <button class="delete" (click)="reset()">delete all cards</button>
      <a
        class="big icon export"
        [download]="learnablesDownload().fileName"
        [attr.href]="learnablesDownload().blobUrl"
        >export all cards

        <app-icon-comp type="share-fill" />
      </a>
    </div>
  </div>
</app-page-wrapper-comp>
