<app-page-wrapper-comp title="Settings" desktopMode="center" icon="settings">
  <div class="wrapper">
    <div class="stats">
      <div class="big">
        You created <strong>{{ stats().banks }} </strong> holding
        <strong>{{ stats().collections }} </strong> having a total of
        <strong>{{ stats().learnables }}</strong
        >.
      </div>
      <div class="smaller">
        You also spent <strong>{{ tokensUsed() }} tokens </strong> generating
        cards.
      </div>
    </div>
    <div class="banks">
      @for (bank of banks(); track bank.id) {
        <app-bank-settings-card [bank]="bank" />
      }
      <div class="add-bank">
        <button (click)="createNewBank()">
          <app-icon-comp type="add" [size]="32" />
        </button>
      </div>
    </div>

    <div class="data-interact">
      <label>
        <span> OpenAI API-key </span>
        <input type="password" />
      </label>
      <button class="primary big delete" (click)="reset()">
        delete everything
      </button>
    </div>
  </div>
</app-page-wrapper-comp>
