@use './style/theme.scss';
@use './style/reusable.scss';

body {
  margin: 0;
  background-color: var(--col-bg);
  scrollbar-color: var(--col-primary) transparent;
}

body,
input,
button,
a,
h1,
h2,
h3 {
  font-family: 'Trebuchet MS', sans-serif;
  color: var(--col-text);
}

h1 {
  margin: var(--distance-3) 0 var(--distance-4) 0;
}

button,
a {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

textarea,
input {
  font-size: var(--font-size-1);
}

button {
  &.small {
    padding: var(--distance-1) var(--distance-5);
    font-size: var(--font-size-0);
    font-weight: var(--font-weight-bold);
  }
  &.big {
    font-size: var(--font-size-1);
    padding: var(--distance-3) var(--distance-5);
    font-weight: var(--font-weight-normal);
  }

  &.silent {
    font-size: inherit;
    text-align: inherit;
    margin: 0;
  }

  &[disabled] {
    opacity: var(--opacity-1);
    cursor: not-allowed;
  }
}

a[download] {
  text-align: center;
  padding: var(--distance-3) var(--distance-5);
}

a[download],
input,
textarea,
button.small,
button.big {
  background-color: var(--col-accent);
  color: var(--col-text);

  border-radius: var(--radius-1);

  border: none;
}

label {
  display: grid;
  grid-template-columns: 1fr;
  span {
    opacity: var(--opacity-1);
    padding: 0 0 var(--distance-1) var(--distance-2);
    font-size: var(--font-size-0);
  }
}

input {
  padding: var(--distance-3) var(--distance-4);
}

a {
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}

.mb-4 {
  margin-bottom: var(--distance-4);
}
