<!-- <div class="header">learn with me</div> -->
<!-- <app-icon-comp [type]="conf.icon" class="icon" /> -->
<div class="links">
  <a class="entry big practice" routerLink="practice" routerLinkActive="active">
    <span>practice</span>
    <app-icon-comp type="learn" />
  </a>
  <a routerLink="cards" class="entry big" routerLinkActive="active">
    <span>cards</span>
    <app-icon-comp type="card" />
  </a>
  <a routerLink="share" class="entry big" routerLinkActive="active">
    <span>share</span>
    <app-icon-comp type="share-network-fill" />
  </a>
  <a routerLink="settings" class="entry small" routerLinkActive="active">
    <span>settings</span>
    <app-icon-comp type="settings" />
  </a>
  <a routerLink="about" class="entry small about" routerLinkActive="active">
    <span>about</span>
    <app-icon-comp type="info" />
  </a>
</div>
<!-- <button (click)="toggle()"><app-icon-comp type="menu" /></button> -->
