:host {
  --moveX: 200px;

  position: fixed;
  z-index: 30;
  right: 0;
  top: 0;

  padding: var(--distance-2) 0 var(--distance-7);
  border-radius: var(--radius-3);
  box-sizing: border-box;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  transform-origin: bottom right;
  backdrop-filter: blur(30px);
  background-color: rgb(from var(--col-bg) r g b / var(--opacity-1));
  transform: rotate(-10deg) translateX(var(--moveX));
  border: 1px solid rgb(from var(--col-accent) r g b / var(--opacity-0));
}

.entry {
  transform-origin: top left;
  box-sizing: border-box;
  margin-right: var(--moveX);

  &.header,
  &.language {
    transform: rotate(20deg);
    padding-left: var(--distance-6);
    text-shadow: 0 5px 13px var(--col-bg);
  }

  &.header {
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-3);
    margin-bottom: var(--distance-2);
  }

  &.language {
    display: flex;
    align-items: center;
    gap: var(--distance-2);
    padding-bottom: var(--distance-5);
  }
}

a.entry {
  display: grid;
  grid-template-columns: auto 1fr;
  border-radius: var(--radius-3);
  place-items: center start;
  box-shadow: var(--shadow-big);
  white-space: nowrap;
  transform: rotate(20deg) translateX(-40px);
  transition:
    translate var(--duration-0),
    padding var(--duration-1),
    margin var(--duration-1);

  app-icon-comp {
    padding: var(--distance-2);
    width: 30px;
    height: 30px;
  }

  &.big {
    margin-bottom: var(--distance-4);
    color: var(--col-bg);
    background-color: var(--col-primary);
    font-size: var(--font-size-2);

    app-icon-comp {
      padding: var(--distance-3);
    }
  }

  &.small {
    margin-bottom: var(--distance-3);
    background-color: var(--col-accent);
  }

  &:hover:not(.active) {
    translate: -10px -6px;
  }

  &.active {
    // translate: -20px -8px;
    margin-right: 0px;
    padding-right: var(--moveX);
  }
}
