@use '../../../../style/mixins';

@include mixins.isPhone() {
  .navigation {
    width: 100vw;
    height: 100vh;
    top: 0;
    overflow: clip;
    padding: 0 var(--distance-1) 100px var(--distance-6);
    justify-content: center;
  }

  .entry {
    rotate: 15deg;
  }
  a.entry {
    width: 100%;
    grid-template-columns: 70px 100%;

    app-icon-comp {
      width: 40px;
      height: 40px;
    }

    &.big {
      padding: var(--distance-2);
      font-size: var(--font-size-3);
    }

    &.small {
      padding: var(--distance-0);
      font-size: var(--font-size-2);
    }

    &.active {
      grid-template-columns: 70px 200%;
      width: 150%;
    }
  }
}
