:host {
  overflow: hidden;
  display: grid;
  grid-template-rows: 3fr auto 2fr;
  position: relative;
  box-shadow: var(--shadow-bigger);
  background-color: var(--col-accent);
  border-radius: var(--radius-3);
  box-sizing: border-box;
  padding: var(--distance-7) var(--distance-6);

  place-self: center;
  width: 100%;
  aspect-ratio: 2 / 3;

  h2 {
    align-self: end;
    font-size: var(--font-size-4);

    rotate: -5deg;
    color: var(--col-text);
    z-index: 1;
    text-shadow: 0 0px 40px var(--col-accent);
  }

  app-practice-rating-comp {
    box-sizing: border-box;
    position: absolute;
    padding: var(--distance-4) var(--distance-6);
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1 / 1;

    z-index: -1;
    color: var(--col-primary);
  }

  .subtitle {
    font-size: var(--font-size-2);
    translate: 0 -8px;
    rotate: -5deg;
    justify-self: end;
    font-weight: var(--font-weight-bold);
    text-shadow: 0 0px 18px var(--col-accent);
  }

  .stats {
    font-weight: var(--font-weight-bold);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    .count {
      font-size: var(--font-size-4);
      rotate: -4deg;
    }
    .label {
      font-size: var(--font-size-2);
      rotate: -4deg;
      translate: 8px -5px;
    }
  }
  h2 {
    margin: 0;
  }
}
