@use '../../../../../../style/mixins.scss' as *;

:host {
  display: grid;
  box-shadow: var(--shadow-bigger);
  background-color: var(--col-primary);
  border-radius: var(--radius-3);
  box-sizing: border-box;
  padding: var(--distance-7) var(--distance-6);
  position: relative;

  app-practice-rating-comp {
    width: 200px;
    height: 200px;
    place-self: center;
  }

  .stats {
    display: grid;
    grid-template-columns: auto 1fr;

    h2 {
      margin: 0;
      grid-column: span 2;
    }
  }
}

@include isPhone() {
  :host {
    grid-template-rows: 1fr auto;
  }
}

@include isDesktop {
  :host {
    place-items: center;
    grid-template-columns: 1fr 2fr;

    .stats {
      grid-area: 1 / 1;
    }
    app-practice-rating-comp {
    }
  }
}
