:host {
  &.noteven,
  &.excellent {
    .icon {
      width: 100%;
      height: 100%;
    }
  }

  &.atleast,
  &.okay,
  &.good {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;

    .icon {
      &:nth-child(1) {
        width: 120%;
        transform: rotate(-10deg) translate(15%, 20%);
      }
      &:nth-child(3) {
        width: 120%;
        transform: rotate(10deg) translate(-15%, 20%);
      }
    }
  }
}
